@model ReflectionIT.Mvc.Paging.PagingList<WebBlog.Database.Models.Category>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
}

<div class="mws-panel grid_8 mws-collapsible">
    <div class="mws-panel-header admin-header">
        <span><i class="icon-table"></i>Tất cả danh mục</span>
    </div>
    <div class="mws-panel-body no-padding ">
        <div class="dataTables_wrapper">
            <div class="filter">
                Tìm kiếm:

                <input type="text" name="keyword" id="" />
                <button class="btn btn-primary" onclick="submit();">
                    <i class="icon-search"></i>
                </button>

            </div>
            <table class="mws-table mws-datatable">
                <thead>
                    <tr>
                        <th>
                            @*Tên danh mục*@
                            @Html.SortableHeaderFor(model => model.Name)
                        </th>
                        <th>
                            @*Miêu tả*@
                            @Html.SortableHeaderFor(model => model.Description)
                        </th>
                        <th>
                        </th>
                    </tr>
                </thead>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            <span class="btn-group">
                                <a class="btn btn-small" asp-area="Administrator" asp-controller="Categories" asp-action="Edit" asp-route-id="@item.CategoryId">
                                    <i title="Cập nhật danh mục" class="icol-text-signature"></i>
                                </a>
                                <a class="btn btn-small"
                                   asp-area="Administrator" asp-controller="Categories" asp-action="Delete" asp-route-id="@item.CategoryId">
                                    <i title="Xóa danh mục" class="icol-cancel"></i>
                                </a>
                            </span>
                        </td>
                    </tr>
                }
            </table>
            <nav aria-label="Categories navigation" class="paging-admin-nav">
                <vc:pager paging-list="@Model" />
            </nav>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(".active_category").addClass("active");
    $(".category-all").attr("style", "color:#bc4343!important");
    $(".active_category .ulRightMenu").attr("style", "display: block;");
</script>

