@model ReflectionIT.Mvc.Paging.PagingList<WebBlog.Database.Models.Comment>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
}

<div class="mws-panel grid_8 mws-collapsible">
    <div class="mws-panel-header admin-header">
        <span><i class="icon-table"></i>Tất cả bình luận</span>
    </div>
    <div class="mws-panel-body no-padding ">
        <div class="dataTables_wrapper">
            <div class="filter">
                Tìm kiếm:

                <input type="text" name="keyword" id="" />
                <button class="btn btn-primary" onclick="submit();">
                    <i class="icon-search"></i>
                </button>

            </div>

            <table class="mws-table mws-datatable">
                <thead>
                    <tr>
                        <th>
                            @Html.SortableHeaderFor(model => model.CreatedBy)
                        </th>
                        <th>
                            @Html.SortableHeaderFor(model => model.Content)
                        </th>
                        <th>
                            @Html.SortableHeaderFor(model => model.ArticleId)
                        </th>
                        <th>
                            @Html.SortableHeaderFor(model => model.CreatedDate)
                        </th>
                        <th>
                        </th>
                    </tr>
                </thead>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.CreatedBy)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Content)
                        </td>
                        <td>
                            <a href="@ViewBag.ClientUrl/article/@item.ArticleId" target="_blank">@item.ArticleId</a>
                        </td>
                        <td>
                            @item.CreatedDate.ToString("dd/MM/yyyy hh:mm:ss tt")

                        </td>
                        <td>
                            <span class="btn-group">
                                <a class="btn btn-small" asp-area="Administrator" asp-controller="Comments" asp-action="Edit" asp-route-id="@item.CommentId">
                                    <i title="Cập nhật bình luận" class="icol-text-signature"></i>
                                </a>
                                <a class="btn btn-small"
                                   asp-area="Administrator" asp-controller="Comments" asp-action="Delete" asp-route-id="@item.CommentId">
                                    <i title="Xóa bình luận" class="icol-cancel"></i>
                                </a>
                            </span>
                        </td>
                    </tr>
                }
            </table>
            <nav aria-label="Categories navigation" class="paging-admin-nav">
                <vc:pager paging-list="@Model" />
            </nav>

        </div>
    </div>
</div>
<script type="text/javascript">
    $(".active_comment").addClass("active");
    $(".comment-all").attr("style", "color:#bc4343!important");
    $(".active_comment .ulRightMenu").attr("style", "display: block;");
</script>

