@model WebBlog.Database.Models.Article

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Article</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CategoryArticleId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CategoryArticleId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CategoryArticleName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CategoryArticleName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ViewCount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ViewCount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Image)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Image)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BriefContent)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BriefContent)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FullContent)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FullContent)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Source)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Source)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Index)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Index)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsVisible)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsVisible)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SEName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SEName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SEOTitle)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SEOTitle)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SEODescription)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SEODescription)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SEOKeywords)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SEOKeywords)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsDeleted)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsDeleted)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsHot)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsHot)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DeletedDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DeletedDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DeletedBy)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DeletedBy)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UpdatedDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UpdatedDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UpdatedBy)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UpdatedBy)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Position)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Position)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Ext)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Ext)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Ext1)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Ext1)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Ext2)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Ext2)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Ext3)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Ext3)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ArticleId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
